h1{
    color: red;
    text-align: center;
}
h2 {
    color: green;
}
b {
    color: red; font-size: 20px;
}
i{
    color: blue; font-weight: bold;
}

p{
    font: 12px/25px Arial; width: 500px; text-align: justify;
}
ul {
    font-style: italic; color: #256513; width: 500px;
}
ol{
    color: red;
}